html {
    scroll-behavior: smooth;
    background-color: #180118ff;
}

body {
    font-family: 'Handjet', cursive;
    font-family: 'Orbitron', sans-serif;
    
    background: rgb(14, 1, 16);
    background: linear-gradient(180deg, rgb(11, 6, 11) 11%, rgb(10, 6, 10) 60%, rgb(14, 6, 13) 100%);
 
    color: #dcdae5;
}

strong {
    font-weight: bolder;
}