.formulario{
    background: rgb(14, 14, 15);
    background: linear-gradient(180deg, rgb(20, 18, 20) 11%, rgb(111, 77, 113) 60%, rgb(24, 14, 26) 100%);
 
    padding: 5%;
    font-size: 1rem;
}

.formulario-carta {
    position: absolute;
    z-index: -1;
    display: none;
}

.formulario__titulo-pregunta {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    padding: .5rem;
    text-align: center;
    color: #e3d8ec;
}

.formulario__titulo-descripcion {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #e3d8ec;
}

.form{
    width:95%;
    margin: 2rem auto;
    border-radius: 25px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    position:relative
}

.form label {
    background: linear-gradient(180deg, rgb(14, 6, 18) 11%, rgb(26, 14, 27) 60%, rgb(32, 28, 32) 100%);
 
    padding: 0.5rem;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:block;
    margin:28px 0 0;
    color:#fdfdfd;
}

.form input, .form textarea {
    background: #F8FAFB;
    border: 1px solid #E1E8ED;
    border-radius: 12px; /* Inputs redondeados */
    padding: 15px;
    margin-bottom: 15px;
    width:100%;
    box-sizing:border-box;
    outline:none;
    resize:none;
    font-family: 'Kanit', sans-serif;
    transition:all .3s;
    font-size: 1rem;
}

.form input:focus, .form textarea:focus {
    border-color: #3DB2FF;
    background: #FFFFFF;
}
.form-imput{
    font-family: 'Open Sans', sans-serif;
    color:#fbfbfb;
}
.form .form-submit {
    float:right;
    padding:8px 12px;
    margin:8px 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    border:2px solid #a8c3ce;
    border-radius: 5px;
    color:#fbfbfb;
    cursor:pointer;
    transition:all .3s;
    background-color: #e7edef;
}

.form-submit:hover {
    background-color: #4b0862;
}

.form p {
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.form-input {
    color: rgb(249, 248, 242);
    font-size: 0.9rem;
    margin-bottom: 2rem;
}


.formulario div{
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:#29162e;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size: 0.75rem;
    box-shadow:10px 10px 40px -14px #000;
    display: flex;
    justify-content: space-around;
}

.formulario span{
    margin:1px 5px 1px 15px;
}


@media screen and (min-width: 860px) {
    .form-submit:hover{
        background:#380832;
        color:#fff;
    }
}

@media screen and (min-width: 992px) {
    .form {
        max-width: 600px;
    }

    .formulario div {
        font-size: 1rem;
        width:60%;
    }

    .formulario-carta {
        display: flex;
        width:15%;
        justify-content: center;
    }
}