footer {
    background: linear-gradient(180deg, var(--negro) 0%, var(--gris-oscuro) 100%);
    color: var(--beige);
    text-align: center;
    font-size: 0.875rem;
    padding: 2rem 0;
    line-height: 1.8;
    box-shadow: 0 -6px 8px 0 rgba(232, 180, 184, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__contenido {
    margin: 0.5rem;
    color: var(--gris-claro);
}

.footer__linea1,
.footer__linea2 {
    width: 80%;
    max-width: 400px;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--rosa-suave), transparent);
    margin: 10px 0;
}

.logo{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
  }

